<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>用于与附近的朋友同步专注状态</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_porthole-focus._tcp</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>用于专注房间内的语音对讲功能</string>
</dict>
</plist>
